<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Menu</title>
    <style>
        body {
        background: url("/images/jalan05.jpg");
        height: 100%; 
        background-repeat: no-repeat;
        background-size: cover;
        font-family: sans-serif;
        text-align: center;
        color: whitesmoke;
        }
    </style>
</head>
<body>
    <img src="/images/CTB_logo3.png" width="400" height="250">
    <h2>Hello <%= user.firstName %>, our respected <%= user.role %>... </h2>
    <h3>Please select from our chauffeur partners as below</h3>
    <br>

    <table border="1" align="center">
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>Status</td>
                <td>Actions</td>
                <% if(user.role == 'Admin'){ %>
                    <td>Option</td>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0 ; i < drivers.length ; i++) { %>
            <tr>
                <td> <%= drivers[i].firstName %> </td>
                <td> <%= drivers[i].lastName %> </td>
                <td> <%= drivers[i].age %> </td>

                <% let status = '' %>
                <% if (drivers[i].isAvailable == true){ %>
                    <td> Available </td>
                    <td> <a href="/customer/driver/add/<%= drivers[i].id %>">Temp Bucks!</a></td>
                <% }else { %>
                    <td> Not Available </td>
                    <td>Booked</td>
                <% } %>

                <% if(user.role == 'Admin'){ %>
                    <td> <a href="/driver/edit/<%= drivers[i].id %>">Edit</a> | <a href="/driver/delete/<%= drivers[i].id %>">Delete</a></td>
                <% } %>
            </tr>
            <% } %>
        </tbody>
    </table>
    <br>

    <% if( user.role == 'Customer'){ %>
        <button><a href="/customer/edit/<%= user.id %>">Edit Profile</a><br></button>
        <button><a href="/customer/order">My Order</a><br></button>
        
    <% } %>
        
    <% if(user.role == 'Admin'){ %>
        <p>Adding a new Driver?</p>
        <form action="/driver/add/<%=user.id%>" method="POST">
            First name: <input type="text" name="firstName"><br>
            Last  name: <input type="text" name="lastName"><br>
            Age: <input type="text" name="birthYear"><br>
            Email ID: <input type="text" name="email"><br>
            Phone #: <input type="text" name="phone"><br><br>

            <input type="submit" value="Submit">
        </form>
        <br>
    <% } %>

    <button><a href="/customer/logout/<%= user.id %>">Logout</a></button>

</body>
</html>