<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <h1>Edit Driver, <%= `${driver.firstName} ${driver.lastName}` %> </h1>
</head>
<body>
        <form action="/driver/edit/<%=driver.id%>" method="POST">
            First Name: <input type="text" name="firstName" value="<%= driver.firstName %>"><br>
            Last Name: <input type="text" name="lastName" value="<%= driver.lastName %>"><br>
            Age: <input type="text" name="age" value="<%= driver.age %>"><br><br>
            <input type="submit" value="Save">
        </form>
</body>
</html>