<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <h1>Add Score</h1>
</head>
<body>
        <form action="/teacher/edit/<%= teacher.id %>" method="POST">
            <!-- First name: <input type="text" name="fname" value="<%= teacher.firstName %>">  <br> 
            Last name: <input type="text" name="lname" value="<%= teacher.lastName %>"> <br>
            Email: <input type="text" name="email" value="<%= teacher.email %>"> <br>
            Subject:
            <!-- <select name="selectpicker">
                <% for(let i = 0 ; i < subjects.length ; i++){ %>
                <option value="<%=subjects[i].id%>"><%=subjects[i].subjectName%></option>
                <% } %>
            </select> --> -->
            <br><br>
            <input type="submit" value="Save">
        </form>
</body>
</html>