<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEACHER</title>
    <h1 align="center">All Teachers Data</h1>
</head>
<body align="center">
    <a href="/teacher/add">Add Teachers Data</a>
    <br><br>
    <table border=1 align=center>
            <thead>
                <th>id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Options</th>
            </thead>
            <tbody>
                <% for(let i = 0 ; i < teachers.length ; i++){ %>
                    <tr>
                        <td> <%= teachers[i].id %> </td>
                        <td> <%= teachers[i].firstName %> </td>
                        <td> <%= teachers[i].lastName %> </td>
                        <td> <%= teachers[i].email %> </td>
                        <% if(teachers[i].subjectId == null){ %>
                            <% teachers[i].subjectId = 'unassigned' %>
                        <% } else {%>
                            <% teachers[i].subjectId = teachers[i].Subject.subjectName %>
                        <% } %>
                        <td><%=teachers[i].subjectId%></td>
                        <td> <a href="/teacher/edit/<%=teachers[i].id%> ">Edit</a> | <a href="/teacher/delete/<%=teachers[i].id%> ">Delete</a> </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
</body>
</html>